<div id='main'>

  <span id='bookmarker'>Bookmarker</span>

  <%= form_for bookmark  do |f| %>
    <%= f.text_field :bookmark, placeholder: 'Paste your bookmark here.', id: 'new_bookmark' %>
    <%= text_field_tag :search_tags, nil, placeholder: 'Search or add tag.', autocomplete: 'off' %>
    <%= f.text_field :tag_tokens, type: :hidden %>
    <ul id='tag_bookmarks'></ul>
    <%= f.submit 'Create', id: 'create_bookmark' %>
  <% end %>

  <div id='selected_tags'>
  </div>
</div>
